name: DevOps Job Bot

on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Force Install and Run
        env:
          # Check these names in your GitHub Settings!
          WA_INSTANCE_ID: ${{ secrets.WA_INSTANCE_ID }}
          WA_TOKEN: ${{ secrets.WA_TOKEN }}
          MY_PHONE: ${{ secrets.MY_PHONE }}
        run: |
          pip install python-jobspy requests pandas
          python main.py